<%- include('partials/header') %>

<div class="container">
<div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">secrets</h1>
    <p class="secret-text">Dont't keep secrets share them anonymously</p>
    <form action="/submit" method="POST">
        <div class="from-group">
            <input type="text" class="form-control text-center " name="secret" placeholder="what's your name?">

        </div>
        <button type="submit" class="btn btn-dark">Submit</button>

    </form>

</div>
</div>

<%- include('partials/footer') %>
